body{
    
    overflow-y: hidden;
}

section{
    display: flex;
    background-color: rgb(247,247,247);
    margin-left: 15px;
    margin-bottom: -145px;
}
.formulario{
    margin-top: 0;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 120px;
}
section div form input{
    height: 20px;
    border-radius: 5px;
    cursor: context-menu;
    color: rgb(82, 64, 119);
    text-align: center;
}
section div form textarea{
    border-radius: 5px;
    cursor: context-menu;
    color: rgb(82, 64, 119);
    
}
.logoformulario{
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 65vw
    
}
.logoformulario img{
    width: 500px;
    position: absolute;
    left: 700px;
    top: 200px;
}

.formulario h2{
    color:rgb(109,91,151);
    font-family: 'Montserrat', sans-serif;  
    margin-bottom: 3px;
    font-size: 17pt;
    border-bottom: none;
}
.formulario{
    margin-top:0;
    margin-left: 10px;
}
.formulario2{
    display:none;
}
form p{
    font-family: 'Montserrat', sans-serif;  
    margin-bottom: -8px;
    font-size: 15px;
    color:rgb(109,91,151);
    margin-top:5px;
}
textarea{
    border-radius: 5px;
}
button{
    border-radius: 8px;
    color:white;
    background-color: rgb(109,91,151);
    margin:0;
    width: 90px;
    height: 35px;
    font-family: 'Playfair Display', serif;
    
}
button:hover{
    background-color: rgb(82, 64, 119);
}
button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    transform: translateX(-4px);
}

@media(max-width: 400px){
    .formulario{
        display:none;
        margin:0;
    }
    .formulario2{
        display: block;
        /* text-align: left; */
        margin-left:3%;
        flex-direction: row;
        
    }  
    .logoformulario{
        display:none;
    }
    section{
        margin-bottom: 10px;
        line-height: 112%;
    }
    .formulario2 h2{
        font-size:17pt;
        border-bottom: none;
        text-align: center;
    }
    form p{
        text-align: center;
    }
    body{
        overflow-y: auto;
        overflow-x:hidden;
    }
}