#favorito{
    margin-left: -1000px;
    margin-top: 6vw;
    display: flex;
    justify-content: space-evenly;
}

h2{
    color:rgb(109,91,151);
    margin-bottom: 50px;
    right: 400px;
    border-bottom: rgb(109, 91, 151) solid 1px;
    font-family: 'Playfair Display', serif;
}

#mapsbig{
    position: absolute;
    left: 64px;
    width: 650px;
    height: 300px;
    border-radius: 1%;
    overflow: hidden;
    margin-right: 50px;
}

#icone_lupa{
    width: 20px;
    height: 29px;
    display: block;
    cursor: pointer;
}

.box h2{
    color:white;
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
}

.box input{
    border-radius: 25px;
    border: 0;
    height: 30px;
    width: 200px;
    background-image: url(../img/lupa.png);
    background-repeat: no-repeat;
    background-position: 95%;
    margin: 0 5px;
    cursor: pointer;
}

.box{
    background-color: #a77c9f; 
    /* Old browsers */
    background: -moz-linear-gradient(bottom, rgb(109, 91, 151) 0%, rgb(135, 105, 157) 49%, #a80077 10   0%);
    background: -webkit-linear-gradient(bottom, rgb(109, 91, 151) 0%,rgb(135, 105, 157) 49%,#a80077 100%); 
    /*Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, #a77c9f 0%,rgb(135, 105, 157) 49%,rgb(109, 91, 151) 100%); 
    
    position: absolute;
    text-align: center;
    height: 445px;
    width: 19.5vw;
    left: 910px;
    border-radius: 20px; 
    z-index: -1;
}
.box:nth-child(1){
    display:flex;   
    flex-direction: row;
}

#quadrado{
    background-image: url(../img/masplegal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div img{
    width: 18px;
    height: 18px;
}

@media screen and (max-width: 400px){
    #mapsbig{
        display:none;
    }
    .box{
        position: absolute;
        left: 4vw;
        height: 70%;
        width: 91vw;

    }
    #quadrado{
        height: 60%;
        width: 80%;
        margin-left: 10%;
        margin-top: 20px;
        border-radius: 10px;
    }
}
