#favorito{
    margin-top: 6vw;
    display: flex;
    justify-content: space-evenly;
}

h2{
    color:rgb(109,91,151);
    margin-bottom: 50px;
    border-bottom: rgb(109, 91, 151) solid 1px;
    font-family: 'Playfair Display', serif;
}

#mapsbig{
    width: 650px;
    height: 300px;
    border-radius: 1%;
    overflow: hidden;
    margin-right: 50px;
}


.box h2{
    color:white;
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
}

.box input{
    border-radius: 25px;
    border: 0;
    height: 30px;
    width: 75%;
    background-image: url(../img/lupa.png);
    background-repeat: no-repeat;
    background-position: 95%;
    margin: 0 5px;
    cursor: pointer;
}

.box{
    background-color: #a77c9f; 
    /* Old browsers */
    background: -moz-linear-gradient(bottom, rgb(109, 91, 151) 0%, rgb(135, 105, 157) 49%, #a80077 10   0%);
    background: -webkit-linear-gradient(bottom, rgb(109, 91, 151) 0%,rgb(135, 105, 157) 49%,#a80077 100%); 
    /*Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, #a77c9f 0%,rgb(135, 105, 157) 49%,rgb(109, 91, 151) 100%); 
    
    text-align: center;
    width: 19.5vw;
    border-radius: 20px;
}

#quadrado{
    background-image: url(../img/masplegal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65%;
    margin: 10px;
}

footer div img{
    width: 18px;
    height: 18px;
}

@media screen and (max-width: 425px){
    #mapsbig{
        display:none;
    }
    
    #h2mapa{
        display: none;
    }
    
    #favorito{
        justify-content: center;
    }

    .box{
        width: 70%;
        height: 380px;
        margin-top: 15%;
    }

    #quadrado{
        height: 60%;
        width: 80%;
        margin-left: 10%;
        margin-top: 20px;
        border-radius: 10px;
    }
}

@media (max-width:340px){
    .box{
        margin: 5%;
    }
}