#primeira{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: 0 10%;
}

#primeira > h1{
  color: rgb(109, 91, 151);
}

#carrossel{
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0;
  text-align: center;
}

#carrossel > div > div{
  border-radius: 100%;
  border: 5px solid rgb(109, 91, 151);
  cursor: pointer;
}


#meio div{
  height: 200px;
  width: 200px;
  background-image: url(../img/iconesp.png);
  background-size: cover;
}

.lado1 div{
  height: 160px;
  width: 160px;
  background-image: url(../img/iconecwb.png);
  background-size: cover;
}
.lado2 div{
  height: 160px;
  width: 160px;
  background-image: url(../img/iconerj.png);
  background-size: cover;
}

#subtemas{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}
#subtemas div{
  border-radius: 10px;
  width: 200px;
  height: 350px;
  background-color:black;
}
#subtemas div:nth-child(1){
  background-image: url(../img/iconegastronomia.png);
  background-size: cover;
  cursor: pointer;
}
#subtemas div:nth-child(2){
  background-image: url(../img/iconecultura.png);
  background-size: cover;
  cursor: pointer;
}
#subtemas div:nth-child(3){
  background-image: url(../img/iconeaoarlivre.png);
  background-size: cover;
  cursor: pointer;
}
#subtemas div:nth-child(4){
  background-image: url(../img/iconebalada.png);
  background-size: cover;
  cursor: pointer;
}
#subtemas div:nth-child(5){
  background-image: url(../img/iconebar.png);
  background-size: cover;
   cursor: pointer;
}
/* DESTINOS */

#destinos{
  display:flex;
  flex-direction: column;
  margin-top:80px;
}
#destinos div{
  align-items: center;
  width: 100vw;
  height: 25vh;
}
#destinos div:nth-child(1){
  background-color: red;
}
#destinos div:nth-child(2){
  background-color: blue;
}
#destinos div:nth-child(3){
  background-color: green;
}

@media(max-width: 400px){
  #primeira{
    width: 100%;
    margin: 0 5%;
  }
}

@media(max-width:600px){
  .esquerda{
    display: none;
  }
}