/* TELA LOGIN/CADASTRO */
#usuario{
  width: 16vw;
  height: 38vh;
  padding-top:10px;
  background: linear-gradient(#6d5b97, #a1789e);
  position: absolute;
  top:8vh;
  left:78vw;
  border-radius: 20px;
  display:none;
  flex-direction: column;
  justify-content: center;
  
}
#usuario img{
  width: 10vw;
  padding-left: 40px;
  margin-bottom: 40px;
  margin-right: 30px;
}
#usuario button{
  background:none;  
  border: white 2px solid;
  color: white;
  font-size: 13pt;
  border-radius: 20px;
  margin-right: 5.5vw;
  cursor: pointer;
  justify-content: center; 
  width: 10vw;
  align-items: center;
}

.space{
  height: 1vh;
}
#usuario active{
  display: flex;
}
/* TELA LOGIN */
#login{
  width: 16vw;
  height: 38vh;
  padding-top:10px;
  background: linear-gradient(#6d5b97, #a1789e);
  position: absolute;
  top:8vh;
  left:78vw;
  border-radius: 20px;
  display:none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#login h2{
  width: 10vw;
  color:white;
  border-bottom: 1px solid white;
}
#login input{
  background: none;
  border: 2px white solid;
  border-radius: 10px;
  margin-right: 6vw;
  width:14vw;
  color:white;
  text-align: center;
  font-size: 10pt;
}
#login input::placeholder{
  color:white;
  text-align: center;
  font-size: 12pt;
}
#login button{
  background:white;
  color: #6d5b97;
  font-size: 13pt;
  border:none;
  border-radius: 20px;
  margin-right: 5.5vw;
  cursor: pointer;
  justify-content: center; 
  width: 8vw;
  align-items: center;
}
.opcoes{
  text-align: left;
  color:black;
  font-size:9pt;
  margin-left: 1.5vw;
}
#login a{
  color: black;
}

/* TELA CADASTRO */
#cadastro{
  width: 16vw;
  height: 44vh;
  padding-top:10px;
  background: linear-gradient(#6d5b97, #a1789e);
  position: absolute;
  top:8vh;
  left:78vw;
  border-radius: 20px;
  display:none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#cadastro h2{
  width: 10vw;
  color:white;
  border-bottom: 1px solid white;
}
#cadastro input{
  background: none;
  border: 2px white solid;
  border-radius: 10px;
  margin-right: 6vw;
  width:14vw;
  color:white;
  text-align: center;
  font-size: 10pt;
}
#cadastro input::placeholder{
  color:white;
  text-align: center;
  font-size: 10 pt;
}
#cadastro button{
  background:white;
  color: #6d5b97;
  font-size: 13pt;
  border:none;
  border-radius: 20px;
  margin-right: 5.5vw;
  cursor: pointer;
  justify-content: center; 
  width: 14vw;
  height: 5vh;
  align-items: center;
}
.opcoes{
  text-align: left;
  color:black;
  font-size:9pt;
  margin-left: 1.5vw;
  margin-top: 5px;
}
#cadastro a{
  color: black;
}