body{
  margin: 0;
  overflow-x: hidden;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap; */
}
header{
  z-index: 11;
} 