{% extends "layouts/layout-master.html" %}
{% block head %}
<link rel="stylesheet" href="public/css/favoritos.css">
<title>Ei!Favoritos</title>  
{% endblock %}
  
{% block conteudo %}

<section id="favorito">
    <div class="mapas">
        <h2>Meu Mapa</h2>
        <span id="mapsbig"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.2427801356976!2d-46.65542056276937!3d-23.55972245769335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59ceb1eb771f%3A0xe904f6a669744da1!2sMuseu+de+Arte+de+S%C3%A3o+Paulo+Assis+Chateaubriand!5e0!3m2!1spt-BR!2sbr!4v1530822042836" width="650" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></span>
        <!-- Mapa Pequeno para responsivo -->
        <!-- <span><iframe class="mapssmall"src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14628.857273969159!2d-46.5009551302246!3d-23.560744999999994!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1531013971982" width="350" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></span> -->

    </div> 

    <div class="caixinha">
        <div>
            <h2>Meus Lugares</h2>
            <input type="text" placeholder="Pesquise seu rolê favorito ! "name="pesquisa"/>
            <a href="#"><img src="img/icone_lupa.png" alt="" id="icone_lupa"/></a>
        </div> 
        <div id="quadrado">
            <h1></h1>
        </div>
    </div>
</section>

{% endblock %}
