{% extends "layouts/layout-master.html" %}
{% block head %}
<title>Ei!Turista</title>  
{% endblock %}
  
{% block conteudo %}

  <section id="primeira">
    <h1>Eat a rug furry furry hairs everywhere oh no the human!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium voluptas sapiente nam est neque? Quam officiis, eos, dolorem eligendi assumenda culpa iusto velit qui voluptas. </p>
  </section>

  <section id="carrossel">
    <div class="lados">
      <div></div>
      <p>Cidade</p>
    </div>
    <div id="meio">
      <div></div>
      <p>Cidade</p>
    </div>
    <div class="lados">
      <div></div>
      <p>Cidade</p>
    </div>   
  </section>

  <section id="tipos-lugares">
  	<div><img src="http://placekitten.com/g/200/350" alt=""></div>
  	<div><img src="http://placekitten.com/g/200/350" alt=""></div>
  	<div><img src="http://placekitten.com/g/200/350" alt=""></div>
  	<div><img src="http://placekitten.com/g/200/350" alt=""></div>
  	<div><img src="http://placekitten.com/g/200/350" alt=""></div>
  </section>

{% endblock %}