<footer>
  <div>
    <a href="equipe.html">Sobre Nós</a>
    <a href="contato.html">Contato</a>
    <a href="apoio.html">Apoie-nos</a>
  </div>
  <div id="logosinferioresindex">
    <a href="http://fb.com" target="_blank">
      <img src="/public/img/facebook-logo.png" alt="Facebook"/>
    </a>
    <a href="http://instagram.com/eiturista" target="_blank">
      <img src="/public/img/instagram-logo.png" alt="Instagram"/>
    </a>
    <a href="http://twitter.com/eiturista" target="_blank">
      <img src="/public/img/twitter-logo.png" alt="Twitter"/>
    </a>
  </div>
  <div>
    <p>@2018 - Ei!TuristaSquad Developers</p>
  </div>
</footer>