<header>
  <div>
    <a href="index.html">
      <img src="/public/img/logotipo.jpeg" alt="Logotipo" id="logotipo"/>
    </a>
  </div>
  <div>
    <input type="text" name="pesquisa"/>
    <a href="#">
      <img src="img/lupa.png" alt="" id="icone_lupa"/>
    </a>
    <a href="favoritos.html">
      <img src="/public/img/bag-icon.png" alt="" id="icone_mala"/>
    </a>
    <a href="#">
      <img src="/public/img/icone_perfil.png" alt="" id="icone_perfil"/>
    </a>
  </div>
</header>