<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="shortcut icon" type="image/png" href='/public/img/favicon.png'/>
  <link rel='stylesheet' type="text/css" media="screen" href='/public/css/styles.css' />
  <link rel='stylesheet' href='/public/css/header.css' />
  <link rel='stylesheet' href='/public/css/footer.css' />
  <link rel='stylesheet' href='/public/css/index.css' />
  <title><%= title %></title>
</head>
<body>

  <%- include header.ejs %>

  <div id="espaço"></div>
  
  

  <section id="carrossel">
    <div>
      <div class="lados"></div>
      <p>Cidade</p>
    </div>
    <div>
      <div id="meio"></div>
      <p>Cidade</p>
    </div>
    <div>
      <div class="lados"></div>
      <p>Cidade</p>
    </div>   
  </section>
  
  <% include footer.ejs %>
</body>
</html>